# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
venv/
.env/
.venv/

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Mac system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/
